.wrap {
  width: 100%;
  height: 100%;
  background-color: rgb(251 251 251);

  /* Main style*/
  .main-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;

    .otherAndStory-wrap {
      justify-content: space-evenly;

      .main-other-story {
        padding: 15px 0px 15px 0px;
        width: 500px;
        border: 1px solid #cdcdcd;
        border-radius: 7px;
        background-color: white;
      }
    }
  }
}
