.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  justify-content: center;
  padding-top: 80px;

  .wrap {
    display: flex;
    border: 1px solid #dbdbdb;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    padding: 40px 0;
    display: flex;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-family: 'Lobster';
    font-size: 45px;
    font-weight: lighter;
    width: 300px;
    padding-bottom: 30px;
  }

  .id,
  .password,
  button {
    margin: 10px 40px 6px;
    width: 71%;
  }

  button {
    background-color: #0095f6;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .login {
    appearance: none;
    cursor: pointer;
    display: block;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #8e8e8e;
    font-size: 12px;
    margin: 20px 0px;
  }

  .hr-sect::before,
  .hr-sect::after {
    content: '';
    flex-grow: 1;
    background: #dbdbdb;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0 40px;
  }

  .forget {
    color: #00376b;
    font-size: 12px;
    margin-top: 12px;
  }

  .center {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
