@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';

.recommendation {
  height: 30%;
  border: 1.5px solid $lineColor;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;

  .top_title {
    font-size: 13px;
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 10px 10px;
  }
  .top_title > p:first-child {
    color: #9d9d9d;
  }

  .instagramlist_wrap {
    overflow: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    .instagramlist {
      display: flex;
      font-size: 12px;
      padding-left: 10px;
      margin-top: 5px;
      position: relative;
      height: 40px;

      .insta_logo {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }

      .whofollow {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 110px;
        height: 20px;
      }

      .follow {
        color: #3897f0;
        position: relative;
        border: none;
        background: none;
        padding: 0;
        font-weight: 500;
        position: absolute;
        right: 10px;
      }
    }
  }
}
