.commentList {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7px;

  .userName {
    font-weight: 700;
  }
  .userComment {
    margin-left: 2px;
    font-size: smaller;
  }
}
