.rightStory {
  width: 250px;
  height: 40px;
  align-items: center;
  display: flex;
  position: relative;

  .middle {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}
.bootcamp {
  margin-left: 10px;

  .gray {
    color: #c1c0c0;
  }

  .toptext {
    font-weight: 700;
  }

  .rightWecode {
    font-size: small;
  }
}
